{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "cf1840cb61b84a260872b0ec111d6970",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "aw-tenant-code",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://as1380.awmdm.com/api/system/groups/search?page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1533,
            "text": "{\"OrganizationGroups\":[{\"Id\":8366,\"Uuid\":\"f01ac31e-1633-4d00-ae05-a4d36c3d8c45\",\"Name\":\"M605431073\",\"GroupId\":\"M6052651\",\"LocationGroupType\":\"Customer\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/19/2020 12:19:56 AM\",\"LgLevel\":0,\"Users\":\"1\",\"Admins\":\"6\",\"Devices\":\"1\"},{\"Id\":8497,\"Uuid\":\"2ab19bd4-59f1-4716-bd0d-2b425713054f\",\"Name\":\"child_group_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:13:23 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"},{\"Id\":8498,\"Uuid\":\"0f451210-f1c8-41bb-8f48-3a5cb0bbfed6\",\"Name\":\"child_3_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:14:49 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"},{\"Id\":8499,\"Uuid\":\"dddefc3c-6091-4754-9654-c017589cb98e\",\"Name\":\"child_4_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:15:21 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"},{\"Id\":8500,\"Uuid\":\"82566073-0915-42d9-a28f-60315f49aafc\",\"Name\":\"child_5_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:16:03 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"}],\"AdditionalInfo\":{\"Links\":[{\"Rel\":\"self\",\"Href\":\"http://as1380.awmdm.com/api/system/groups/search?page=0&pagesize=500\"}]},\"TotalResults\":5}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-correlation-id",
              "value": "e10222c3-00d0-4fd2-a194-e4ea37b76bbb"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "250000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "249920"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1603416649"
            },
            {
              "name": "x-api-version",
              "value": "v2"
            },
            {
              "name": "api-supported-versions",
              "value": "1, 2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 745,
      },
      {
        "_id": "53c40952056c76637240fb7d0c0d86d3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "aw-tenant-code",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://as1380.awmdm.com/api/system/groups/8366/children"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1780,
            "text": "[{\"Name\":\"M605431073\",\"GroupId\":\"M6052651\",\"LocationGroupType\":\"Customer\",\"Country\":\"United States\",\"Locale\":\"en-US\",\"ParentLocationGroup\":{\"Id\":{\"Value\":573},\"Uuid\":\"8a84308c-dbf2-41b0-94d7-5d382dbf4e53\"},\"CreatedOn\":\"3/19/2020 12:19:56 AM\",\"LgLevel\":0,\"Users\":\"1\",\"Admins\":\"6\",\"Devices\":\"1\",\"Id\":{\"Value\":8366},\"Uuid\":\"f01ac31e-1633-4d00-ae05-a4d36c3d8c45\"},{\"Name\":\"child_group_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"en-US\",\"ParentLocationGroup\":{\"Id\":{\"Value\":8366},\"Uuid\":\"f01ac31e-1633-4d00-ae05-a4d36c3d8c45\"},\"CreatedOn\":\"3/23/2020 4:1[...]
