{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "45c8111d186046c8110b2ea646830ff8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "aw-tenant-code",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "username",
              "value": "Jupiterone"
            }
          ],
          "url": "https://as1985.awmdm.com/API/system/admins/search?username=Jupiterone"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 723,
            "text": "{\"admins\":[{\"uuid\":\"e291bbe4-dc42-4205-834e-a3cb254c134d\",\"username\":\"Jupiterone\",\"firstName\":\"J1\",\"lastName\":\"J1\",\"email\":\"J1@J1.com\",\"LocationGroup\":\"M104252336\",\"LocationGroupId\":\"1112\",\"organizationGroupUuid\":\"71b1202a-fc21-4239-bacb-5e74e35a820e\",\"timeZone\":\"AST\",\"locale\":\"en-US\",\"initialLandingPage\":\"/Device/Dashboard\",\"LastLoginTimeStamp\":\"2023-10-27T18:06:03.293\",\"roles\":[{\"uuid\":\"db089645-68c7-4df4-888d-ec5c511c1a6c\",\"organizationGroupUuid\":\"71b1202a-fc21-4239-bacb-5e74e35a820e\",\"Name\":\"Device Manager\",\"LocationGroup\":\"M104252336\",\"LocationGroupId\":\"1112\",\"IsActive\":true,\"UserLinkId\":0}],\"messageTemplateId\":0,\"messageTemplateUuid\":\"00000000-0000-0000-0000-000000000000\"}],\"Page\":0,\"PageSize\":500,\"Total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-correlation-id",
              "value": "c7a80fff-45da-421a-87db-97de905fd781"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "250000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "249976"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1698754208"
            },
            {
              "name": "x-api-version",
              "value": "v2"
            },
            {
              "name": "api-supported-versions",
              "value": "1, 2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1692,
      },
      {
        "_id": "b7e73cc37b2999e5f02776ac09ca04d9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "aw-tenant-code",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://as1985.awmdm.com/API/system/groups/search?page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 437,
            "text": "{\"OrganizationGroups\":[{\"Id\":1112,\"Uuid\":\"71b1202a-fc21-4239-bacb-5e74e35a820e\",\"Name\":\"M104252336\",\"GroupId\":\"M1044590\",\"LocationGroupType\":\"Customer\",\"Country\":\"Argentina\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"10/27/2023 3:05:53 PM\",\"LgLevel\":0,\"Users\":\"2\",\"Admins\":\"4\",\"Devices\":\"0\"}],\"AdditionalInfo\":{\"Links\":[{\"Rel\":\"self\",\"Href\":\"http://as1985.awmdm.com/API/system/groups/search?page=0&pagesize=500\"}]},\"TotalResults\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-correlation-id",
              "value": "9b92a2dc-4ebf-4ab9-8841-ff184d376c68"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "250000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "249975"
      [...]
