{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3dee4fa257df84546159636ec36f3263",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "aw-tenant-code",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "username",
              "value": "jupiterone-dev"
            }
          ],
          "url": "https://as1380.awmdm.com/API/system/admins/search?username=jupiterone-dev"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 768,
            "text": "{\"admins\":[{\"uuid\":\"144a3e6b-ae49-4910-b15a-64d16af4619a\",\"username\":\"jupiterone-dev\",\"firstName\":\"JupiterOne\",\"lastName\":\"Development\",\"email\":\"development@jupiterone.com\",\"LocationGroup\":\"M605431073\",\"LocationGroupId\":\"8366\",\"organizationGroupUuid\":\"f01ac31e-1633-4d00-ae05-a4d36c3d8c45\",\"timeZone\":\"EST\",\"locale\":\"en-US\",\"initialLandingPage\":\"/Device/Dashboard\",\"LastLoginTimeStamp\":\"2020-10-22T19:26:56.443\",\"roles\":[{\"uuid\":\"5d6de1d9-236c-43df-b042-d321579f4f53\",\"organizationGroupUuid\":\"f01ac31e-1633-4d00-ae05-a4d36c3d8c45\",\"Name\":\"Console Administrator\",\"LocationGroup\":\"M605431073\",\"LocationGroupId\":\"8366\",\"IsActive\":true,\"UserLinkId\":0}],\"messageTemplateId\":0,\"messageTemplateUuid\":\"00000000-0000-0000-0000-000000000000\"}],\"Page\":0,\"PageSize\":500,\"Total\":1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-correlation-id",
              "value": "0e066d41-da98-4ed8-beed-5f3e12f5b2f7"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "250000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "249794"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1603416649"
            },
            {
              "name": "x-api-version",
              "value": "v2"
            },
            {
              "name": "api-supported-versions",
              "value": "2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1014,
      },
      {
        "_id": "4bdc0705cc17926caaeb7d0531b4e2a4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "aw-tenant-code",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://as1380.awmdm.com/API/system/groups/search?page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1533,
            "text": "{\"OrganizationGroups\":[{\"Id\":8366,\"Uuid\":\"f01ac31e-1633-4d00-ae05-a4d36c3d8c45\",\"Name\":\"M605431073\",\"GroupId\":\"M6052651\",\"LocationGroupType\":\"Customer\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/19/2020 12:19:56 AM\",\"LgLevel\":0,\"Users\":\"1\",\"Admins\":\"6\",\"Devices\":\"1\"},{\"Id\":8497,\"Uuid\":\"2ab19bd4-59f1-4716-bd0d-2b425713054f\",\"Name\":\"child_group_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:13:23 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"},{\"Id\":8498,\"Uuid\":\"0f451210-f1c8-41bb-8f48-3a5cb0bbfed6\",\"Name\":\"child_3_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:14:49 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"},{\"Id\":8499,\"Uuid\":\"dddefc3c-6091-4754-9654-c017589cb98e\",\"Name\":\"child_4_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:15:21 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"},{\"Id\":8500,\"Uuid\":\"82566073-0915-42d9-a28f-60315f49aafc\",\"Name\":\"child_5_test\",\"GroupId\":\"\",\"LocationGroupType\":\"Container\",\"Country\":\"United States\",\"Locale\":\"English (United States)\",\"CreatedOn\":\"3/23/2020 4:16:03 PM\",\"LgLevel\":0,\"Users\":\"0\",\"Admins\":\"0\",\"Devices\":\"0\"}],\"AdditionalInfo\":{\"Links\":[{\"Rel\":\"self\",\"Href\":\"http://as1380.awmdm.com/API/system/groups/search?page=0&pagesize=500\"}]},\"TotalResults\":5}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-correlation-id",
              "value": "e836a3a7-f211-43f9-b1a8-4122f8f023a0"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "250000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "2[...]
